Quest√£o 1

In [20]:
import pandas as pd
from google.colab import drive 
drive.mount('/drive',force_remount=True) 
d=pd.read_csv("/drive/My Drive/analise_credito/class_analise_credito.csv") 
d=pd.DataFrame(d)
display(d)

Mounted at /drive

,ESTC,NDEP,RENDA,TIPOR,VBEM,NPARC,VPARC,TEL,IDADE,RESMS,ENTRADA,target
0,1,0,360,0,313,9,52,0,25,48,0,1
1,0,0,350,1,468,10,65,0,33,6,0,1
2,0,0,1100,0,829,9,125,0,56,48,0,1
3,0,0,3000,0,552,12,76,1,31,60,0,1
4,1,0,1000,0,809,12,111,0,24,7,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1,0,500,0,437,12,60,0,60,48,0,1
1496,1,0,2057,0,301,1,318,0,35,48,0,1
1497,0,0,570,0,511,12,71,1,28,144,0,1
1498,0,0,360,0,384,12,52,0,33,36,0,1
1499,0,4,501,1,849,10,117,0,37,6,0,0

Quest√£o 2

In [21]:
print(d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ESTC     1500 non-null   int64
 1   NDEP     1500 non-null   int64
 2   RENDA    1500 non-null   int64
 3   TIPOR    1500 non-null   int64
 4   VBEM     1500 non-null   int64
 5   NPARC    1500 non-null   int64
 6   VPARC    1500 non-null   int64
 7   TEL      1500 non-null   int64
 8   IDADE    1500 non-null   int64
 9   RESMS    1500 non-null   int64
 10  ENTRADA  1500 non-null   int64
 11  target   1500 non-null   int64
dtypes: int64(12)
memory usage: 140.8 KB
None

Quest√£o 3

In [22]:
d['VBEM'].dropna(axis=0)
display(d)

,ESTC,NDEP,RENDA,TIPOR,VBEM,NPARC,VPARC,TEL,IDADE,RESMS,ENTRADA,target
0,1,0,360,0,313,9,52,0,25,48,0,1
1,0,0,350,1,468,10,65,0,33,6,0,1
2,0,0,1100,0,829,9,125,0,56,48,0,1
3,0,0,3000,0,552,12,76,1,31,60,0,1
4,1,0,1000,0,809,12,111,0,24,7,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1,0,500,0,437,12,60,0,60,48,0,1
1496,1,0,2057,0,301,1,318,0,35,48,0,1
1497,0,0,570,0,511,12,71,1,28,144,0,1
1498,0,0,360,0,384,12,52,0,33,36,0,1
1499,0,4,501,1,849,10,117,0,37,6,0,0

Quest√£o 4

In [23]:
media=d['VBEM'].mean()
print(media)

562.0313333333334

Quest√£o 5

In [24]:
colunavbem=d['VBEM']
novacoluna=d[d['VBEM']>550]
novacoluna

,ESTC,NDEP,RENDA,TIPOR,VBEM,NPARC,VPARC,TEL,IDADE,RESMS,ENTRADA,target
2,0,0,1100,0,829,9,125,0,56,48,0,1
3,0,0,3000,0,552,12,76,1,31,60,0,1
4,1,0,1000,0,809,12,111,0,24,7,0,1
8,0,0,1500,0,688,6,148,0,59,48,0,0
9,0,1,500,1,828,18,89,0,29,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1479,3,0,1048,0,552,4,119,0,60,48,119,0
1482,1,0,502,0,1367,12,115,0,54,48,0,1
1483,0,0,3604,1,651,24,63,0,31,6,0,0
1489,1,0,650,1,860,10,130,0,29,6,0,1
1499,0,4,501,1,849,10,117,0,37,6,0,0

Quest√£o 6

In [25]:
d.drop(['NDEP','RENDA','TIPOR','NPARC','TEL','ENTRADA','target'],axis=1,inplace=True)
d

      ESTC  VBEM  VPARC  IDADE  RESMS
0        1   313     52     25     48
1        0   468     65     33      6
2        0   829    125     56     48
3        0   552     76     31     60
4        1   809    111     24      7
...    ...   ...    ...    ...    ...
1495     1   437     60     60     48
1496     1   301    318     35     48
1497     0   511     71     28    144
1498     0   384     52     33     36
1499     0   849    117     37      6

[1500 rows x 5 columns]

Quest√£o 7

In [26]:
import random
qualquer=random.randint(0,1)
for el in ['VBEM - IDADE']:
  el=d['VBEM - IDADE']=((d['VBEM'] - d['IDADE'])*qualquer)
display(d)

      ESTC  VBEM  VPARC  IDADE  RESMS  VBEM - IDADE
0        1   313     52     25     48           288
1        0   468     65     33      6           435
2        0   829    125     56     48           773
3        0   552     76     31     60           521
4        1   809    111     24      7           785
...    ...   ...    ...    ...    ...           ...
1495     1   437     60     60     48           377
1496     1   301    318     35     48           266
1497     0   511     71     28    144           483
1498     0   384     52     33     36           351
1499     0   849    117     37      6           812

[1500 rows x 6 columns]

Quest√£o 8

In [27]:
embaralha= d.sample(frac=1).reset_index(drop=True)
print(embaralha)

      ESTC  VBEM  VPARC  IDADE  RESMS  VBEM - IDADE
0        1   558     76     40     48           518
1        0   600     85     28      6           572
2        0   389     82     67     48           322
3        0   399     55     33      6           366
4        1   445     53     22      0           423
...    ...   ...    ...    ...    ...           ...
1495     0   449     96     37      6           412
1496     0  1974    285     52     48          1922
1497     0   704    137     42     60           662
1498     1   410     63     31      6           379
1499     1   483     66     22      6           461

[1500 rows x 6 columns]

Quest√£o 10

In [28]:
agrupa= d.groupby(['VBEM','IDADE']).count()
print(agrupa)

            ESTC  VPARC  RESMS  VBEM - IDADE
VBEM IDADE
300  27        1      1      1             1
     39        1      1      1             1
     65        1      1      1             1
301  30        2      2      2             2
     33        1      1      1             1
...          ...    ...    ...           ...
2199 54        1      1      1             1
2498 46        1      1      1             1
2579 54        1      1      1             1
3017 38        1      1      1             1
4000 34        1      1      1             1

[1371 rows x 4 columns]

Quest√£o 12

In [29]:
from google.colab import drive
drive.mount('/drive',force_remount=True)
d.to_csv('/drive/MyDrive/newarclass_analise_credito.csv')

Mounted at /drive

Quest√£o 13

In [30]:
from google.colab import drive
drive.mount('/drive',force_remount=True)
d.to_json('/drive/MyDrive/newarclass_analise_credito.json')

Mounted at /drive

Quest√£o 14

In [ ]:
https://github.com/luanagobel/eng1111